<div class="hero-text-box">
    <h1>Welcome <%= session[:username] %>.<br>Heading towards master chef.</h1>
    <a class="btn btn-full js--scroll-to-plans" href="#">Create Recipe</a>
    <a class="btn btn-ghost js--scroll-to-start" href="#">Look Around</a>
</div>