<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Recipe</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/queries.css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/images/hero-min.jpg');">
    <nav>
      <div class="row">
          <img src="images/logo-white.png" alt="Omnifood logo" class="logo">
          <img src="images/logo.png" alt="Omnifood logo" class="logo-black">
          <ul class="main-nav js--main-nav">
          <% if logged_in? %>
              <li><a href="/users/<%=current_user.slug%>">Home Page</a></li>
              <li><a href="#works">All Recipes</a></li>
              <li><a href="/logout">Log Out</a></li>
          <% else %>
              <li><a href="/">Home Page</a></li>
              <li><a href="/login">Log In</a></li>
          <% end %>
              <li><a href="#works">All Recipes</a></li>
              <li><a href="#cities">Our cities</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
      </div>
    </nav>
  <%= yield %>
  </header>



  <footer>
    <div class="row">
      <p>This webpage was originally built by Yinghui for the course "Jonas Schmedtmann: Design and Develop a Killer Website Using HTML5 and CSS3".</p>
      <p>Now refactored to provide html structure and css for Flatiron Phase 2 Sinatra Project. No copyrights &copy; here.</p>
    </div>
  </footer>
  </body>
</html>

