<div class="hero-text-box">
    <h1>Prepare your food.<br>Become a master chef.</h1>
    <a class="btn btn-full js--scroll-to-plans" href="/users/login">Log In</a>
    <a class="btn btn-ghost js--scroll-to-start" href="/users/signup">Sign Up</a>
</div>
          